@use "variable";


.page-error {
    position: relative;
    width: 100%;
    height: 100%;
    .label-logo-forgot {
        position: absolute;
        left: 50%;
        top: 40px;
        transform: translateX(-50%);
    }
    .main-content {
        position: absolute;
        width: 750px;
        text-align: center;
        left: 8%;
        .title-404 {
            font-weight: bold;
            font-size: 72px;
        }
        .page-not-found {
            font-size: 24px;
            line-height: 29px;
            color: #03031d;
            opacity: 0.8;
        }
        .note-404 {
            margin-top:24px;
            font-size: 16px;
            line-height: 24px;
            color: #03031d;
            opacity: 0.6;
        }
    }
}
