@import "./../styles/variable";

.Authen_forgot {
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid yellow;
    width: 100%;
    color: white;

    &:focus {
      outline: none;
    }
  }

  button {
    text-align: center;
  }

  .authen_button {
    text-align: center;
    width: 100%;
    margin-top: 2vw;
  }

  .ant-card {
    background: none !important;
    border: none;
  }

  .Authen_changePass {
    h1 {
      color: #ffffff;
      text-align: center;
      font: normal normal bold 80px/106px Segoe UI;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
  }

  .Authen_content {
    h2 {
      text-align: center;
      font: normal normal bold 40px/55px Open Sans;
      letter-spacing: 0.6px;
      color: #ffffff;
      opacity: 1;
    }
  }

  .form-group {
    .label {
      text-align: left;
      font: normal normal bold 18px/24px Open Sans;
      letter-spacing: 0.27px;
      color: #ffffff;
      opacity: 1;
    }
  }

  .checkbox {
    justify-content: space-between;
    align-items: center;

    .remember {
      text-align: left;
      // font: normal normal normal 18px/24px Open Sans;
      letter-spacing: 0.27px;
      color: #ffffff;
      opacity: 1;
      margin-left: 0.5vw;
    }

    .forgot {
      text-align: left;
      // font: normal normal normal 18px/24px Open Sans;
      letter-spacing: 0.27px;
      color: #ffffff;
      opacity: 1;
    }

    input {
      width: 10px;
      margin-top: 4px;
      margin-right: 12px;
    }

    .ant-checkbox-inner {
      width: 15px !important;
      height: 15px !important;

      &::after {
        transform: rotate(45deg) scale(0.6) translate(-110%, -50%) !important;
      }
    }
  }

  .no-account {
    text-align: left;
    letter-spacing: 0.27px;
    color: #ffffff;
    opacity: 1;
  }

  input:-webkit-autofill {
    // -webkit-box-shadow: 0 0 0px 1000px white inset;
    background-color: black;
  }

  // .form-control {
  //   background-color: transparent !important;
  //   border-bottom: 1px solid orange !important;
  // }
  // .input-password {
  //   background-color: transparent;
  //   border: none;
  //   border-bottom: 1px solid white;
  //   width: 100%;
  // }
}